<%= form_for(@team) do |f| %>
    <% if @team.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

          <ul>
            <% @team.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :players %>
    <fieldset style="border:1px solid black;padding:10px; ">
      <%= f.nested_fields_for :players do |p| %>
          <%= p.remove_nested_fields_link %>
          <%= p.select :id, @subs, :include_blank => true %>
      <% end %>
    </fieldset>
    <%= f.label :division %>

    <%= f.select :division_id, @divisions %>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
