<%= form_for(@team) do |f| %>
    <script>
        if (obj = document.getElementById("edit_team_<%= params[:id] %>")) {
            obj.className = 'form-horizontal';
        }
        else {
            document.getElementById('new_team').className = 'form-horizontal';
        }

    </script>
    <% if @team.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

          <ul>
            <% @team.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.text_field :name %>

    <%= f.nested_fields_for :players do |p| %>
            <%= p.select :id, @subs, :include_blank=>true %>
    <% end %>

    <%= f.select :division_id, @divisions %>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
