<%= link_to 'New Season', new_season_path<<"?id=#{@league.id}", {:class => 'btn btn-danger', :style => 'float:right;margin-right:75px', :type => 'button'} %>
<h4><%= @seasons.first.league.name %> Seasons</h4>
<table class='table table-bordered'>
  <tr>
    <th>Name</th>
    <th>Year</th>

  </tr>
  <% @seasons.each_with_index do |season, i| %>
      <tr class='<%= i.odd? ? 'warning' : 'success' %>'>
        <td><%= link_to season.name, season_path(season.id) %>
          <%= link_to 'Edit', edit_season_path(season), :style => 'float:right;margin-right:20px;' if session[:user_id] -%>
        </td>
        <td><%= season.start_date.year %></td>

      </tr>
  <% end %>
</table>