<%= link_to 'Edit Week', edit_week_path(@week.id), {:style => 'float:right;margin-right:100px;', :class => 'btn btn-danger', :type => 'button'} unless (@week.schedule.weeks.active_week.present? && @week.date < @week.schedule.weeks.active_week.first.date) -%>
<div style="height:65px;">
  <% this_week = @week %>
  <h4><%= @schedule.season.name %> Schedule - <%= @week.course.name %></h4>
  <h5><%= @week.date.strftime("%A, %b %d, %Y") %>

    <% if @week.matchups.first.present? %>

        - <%= @week.matchups.first.score_cards.first.rounds.first.type.to_s.gsub("Round", '').underscore.humanize.titleize %>
    <% end %>
  </h5>
</div>
<%= render partial: 'schedule_links', locals: {this_week: this_week} %>


<table class='table table-bordered table-condensed'>

  <tr>
    <th colspan="3">Matchup</th>
    <th>Tee time</th>
    <th>Score Cards</th>
  </tr>

  <% @week.matchups.each_with_index do |matchup, i| %>
      <% home_team = matchup.home_team || Team.new %>
      <% visiting_team = matchup.visiting_team || Team.new %>
      <% matchups = @week.matchups.select { |mat| mat.home_team == matchup.home_team } %>
      <tr class='<%= i.odd? ? 'warning' : 'success' %>'>

        <td style="padding-left:20px;"><%= visiting_team.name %>
          <span style="float:right;margin-right: 10px;"><%= visiting_team.team_id %></span></td>
        <td style="text-align: center;"> vs.</td>
        <td style="text-align: right;padding-right:20px;"><%= home_team.name %>
          <span style="float:left;margin-left: 10px;"><%= home_team.team_id %></span></td>
        <td style="text-align: center;">tee time</td>
        <td>
          <% score = matchup.rounds.first.scores.present? ? "Edit Scores" : "Enter Scores" %>

          <%= "#{matchups.sum { |mat| mat.visiting_team_total }} -  #{matchups.sum { |mat| mat.home_team_total }}" if matchup.home_team_total.present? %>
          <%= link_to score, matchups_path << "/#{matchup.id}", {:style => "float:right;margin-right:50px;", :class => 'btn btn-warning', :type => 'button'} %>
        </td>
      </tr>
  <% end %>
</table>


<br/>
<% if @gross_skins.present? %>
    <h4>Gross Skins</h4>
    <table class='table table-bordered table-condensed'>
      <thead>
      <tr>
        <th>Player</th>
        <th>Hole</th>
        <th>Score (to par)</th>
      </tr>

      </thead>
      <tbody>
      <% @gross_skins.each do |skin| %>
          <tr>
            <td><%= skin.first %></td>
            <td><%= skin[1] %></td>
            <td><%= skin[2] %> (<%= skin[3] %>)
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<% if @net_skins.present? %>
    <h4>Net Skins</h4>
    <table class='table table-bordered table-condensed'>
      <thead>
      <tr>
        <th>Player</th>
        <th>Hole</th>
        <th>Score (to par)</th>
      </tr>

      </thead>
      <tbody>
      <% @net_skins.each do |skin| %>
          <tr>
            <td><%= skin.first %></td>
            <td><%= skin[1] %></td>
            <td><%= skin[2] %> (<%= skin[3] %>)
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<% if @week.scores.present? %>
    <h4>Low Net</h4>
    <table class='table table-bordered table-condensed'>
      <thead>
      <tr>
        <th>Player</th>
        <th>Gross Score</th>
        <th>Net Score</th>
      </tr>

      </thead>
      <tbody>
      <% @net_scores.each do |score| %>
          <tr>
            <% score.each do |val| %>
                <td><%= val %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>