<%= form_for(@player, :class => 'form-horizontal') do |f| %>

    <% if @player.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

          <ul>
            <% @player.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="control-group">
      <% [:first_name, :last_name, :email, :phone, :home_address, :city, :state_or_province, :gender].each do |field_name| %>
          <%= f.label field_name, :class => 'control-label' %><span style="font-style:italic"><%= [:first_name,:last_name].include?(field_name)? '(required)' : ''%></span>
          <% Player.columns do |column| %>
                    <%= column.name %>
                    <div class='controls'>
                      <%#= f.text_field field_name %>
                    </div>

                <% end %>

          <div class='controls'>
            <%= f.text_field field_name %>
          </div>

      <% end %>
      <% if @season.skins_paid_by_season? %>
          <%= label :players_season, :skins_paid, :class => 'control-label' %>
          <div class='controls'><%= check_box :players_seasons, :skins_paid %></div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
