<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    Name of organization or Course:<br/>
    <%= f.text_field :name %><p/>
    City:<br/>
    <%= f.text_field :city %><p/>
    State:<br/>
    <%= f.select :state_id, State.all.map{|st| [st.name,st.id]}, :include_blank=>true %><p/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
